version: 0.0.1.{build}
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
before_build:
- cmd: nuget restore
build:
  verbosity: minimal
after_build:
- cmd: nuget pack AzureStatusPage.nuspec -Version %APPVEYOR_BUILD_VERSION%
artifacts:
- path: '*.nupkg'
  name: SiteExtension