<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    	<add key="sampleApplication" value="Configuration Sample"/>
  	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly> 
				<assemblyIdentity name="Microsoft.Azure.WebJobs" culture="neutral" publicKeyToken="31bf3856ad364e35"/> 
                <bindingRedirect oldVersion="1.1.1.0" newVersion="1.1.2.0"/>
			</dependentAssembly>
			<dependentAssembly> 
				<assemblyIdentity name="Microsoft.Azure.WebJobs.Host" culture="neutral" publicKeyToken="31bf3856ad364e35"/> 
                <bindingRedirect oldVersion="1.1.1.0" newVersion="1.1.2.0"/>
			</dependentAssembly> 
			<dependentAssembly> 
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/> 
                <bindingRedirect oldVersion="6.0.0.0" newVersion="9.0.0.0"/>
			</dependentAssembly> 
        </assemblyBinding>
	</runtime> 
</configuration>
